---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Joe Linogao - Projects">
	<main
		class="m-auto flex h-screen max-w-5xl flex-col items-center justify-center gap-8 p-4 md:flex-row"
	>
		<div class="flex flex-col gap-8">
			<h1 class="text-left font-heading text-5xl font-bold text-slate-800">
				<span class="underline decoration-myTheme-primary decoration-4">JoeDoesCoding</span>
			</h1>
			<p class="rounded-md p-2 text-center font-body text-base text-myTheme-text">
				This is the projects page
			</p>
		</div>

		<!-- <ul role="list" class="link-card-grid"> ! cool info wiht lists -->
	</main>
</Layout>

<style></style>
