---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro'
import IndexHero from '@/sections/IndexHero.astro'
import IndexAbout from '@/sections/IndexAbout.astro'
---

<Layout title="Joe Linogao">
	<main class="m-auto flex h-full w-full flex-col items-center justify-center">
		<IndexHero />
		<IndexAbout />
	</main>
</Layout>

<style></style>
